Repository dadu0699/Soccer-Stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Test On Customer Service, Test On Team Service, Test On Match Service, Test On Competition Service, Test On Stadium Service, Test On Teachnical Director Service, Test On Player Service, Test On Post Service, Test On Auth Service, Test On Administrator Service, Test On Employee Service, Test On Country Service, Build Customer Image, Build Team Image, Build Match Image, Build Competition Image, Build Stadium Image, Build Technical Director Image, Build Player Image, Build Post Image, Build Auth Image, Build Administrator Image, Build Employee Image, Build Country Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Path conditions:
  Test On Customer Service: any of: Services/customer/**
  Test On Team Service: any of: Services/team/**
  Test On Match Service: any of: Services/match/**
  Test On Competition Service: any of: Services/competition/**
  Test On Stadium Service: any of: Services/stadium/**
  Test On Teachnical Director Service: any of: Services/technical_director/**
  Test On Player Service: any of: Services/player/**
  Test On Post Service: any of: Services/post/**
  Test On Auth Service: any of: Services/auth/**
  Test On Administrator Service: any of: Services/administrator/**
  Test On Employee Service: any of: Services/employee/**
  Test On Country Service: any of: Services/country/**
  Build Customer Image: any of: Services/customer/**
  Build Team Image: any of: Services/team/**
  Build Match Image: any of: Services/match/**
  Build Competition Image: any of: Services/competition/**
  Build Stadium Image: any of: Services/stadium/**
  Build Technical Director Image: any of: Services/technical_director/**
  Build Player Image: any of: Services/player/**
  Build Post Image: any of: Services/post/**
  Build Auth Image: any of: Services/auth/**
  Build Administrator Image: any of: Services/administrator/**
  Build Employee Image: any of: Services/employee/**
  Build Country Image: any of: Services/country/**
  Build Frontend Test-Image: any of: Frontend/**
  Testing Frontend: any of: Frontend/**
  Build Frontend Image: any of: Frontend/**

[ADD] servicios para todos los reportes
  Frontend/src/app/services/customer.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIX] Variables en terraform
  Terraform/Production/main.tf
  Terraform/Testing/main.tf
Due: none

[FIX] Script de inicio
  Terraform/Scripts/startup_script.sh
Due: none

[ADD] reporte 12
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.ts
  Frontend/src/app/components/reports/user/players/players.component.html
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/models/player.model.ts
  Frontend/src/app/pages/customer/players-teams/players-teams.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] reporte 13
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/fields/competition-field/competition-field.component.html
  Frontend/src/app/components/fields/competition-field/competition-field.component.ts
  Frontend/src/app/components/reports/user/players/players.component.html
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/services/customer.service.ts
  Services/customer/routes/report.route.js
Due: Test On Customer Service, Build Customer Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] layout
  Frontend/src/app/components/reports/user/players/players.component.css
  Frontend/src/app/components/reports/user/players/players.component.html
  Frontend/src/app/pages/customer/players-teams/players-teams.component.css
  Frontend/src/app/pages/customer/players-teams/players-teams.component.html
  Frontend/src/app/pages/customer/stadiums/stadiums.component.css
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] incidence-dialog.component.ts
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.ts
  Frontend/src/app/services/match.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIX] tranfer-dialog-*.component.ts
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.ts
  Frontend/src/app/components/dialogs/transfer-dialog/transfer-dialog.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Update README.md
  README.md
Due: none

[UPDATE] eliminar impresiones en consola
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.ts
  Frontend/src/app/components/reports/user/stadiums-list/stadiums-list.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
  Frontend/src/app/components/views/user-view/user-view.component.ts
  Frontend/src/app/services/admin.service.ts
  Frontend/src/app/services/customer.service.ts
  Frontend/src/app/services/technical-director.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] layout
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.css
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.html
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.css
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.html
  Frontend/src/app/components/dialogs/transfer-dialog/transfer-dialog.component.css
  Frontend/src/app/components/dialogs/transfer-dialog/transfer-dialog.component.html
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/components/views/game-view/game-view.component.ts
  Frontend/src/styles.css
  Services/administrator/src/controllers/reporte.controller.ts
  Services/technical_director/src/server/server.ts
Due: Test On Teachnical Director Service, Test On Administrator Service, Build Technical Director Image, Build Administrator Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] reportes estandarizados ESB
  Frontend/src/app/components/reports/user/players/players.component.html
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/models/player.model.ts
  Frontend/src/app/pages/customer/players-teams/players-teams.component.html
  Frontend/src/app/services/customer.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] estandarizacion esb reportes equipos
  Frontend/src/app/components/reports/user/teams/teams.component.html
  Frontend/src/app/components/reports/user/teams/teams.component.ts
  Frontend/src/app/models/team.model.ts
  Frontend/src/app/pages/customer/players-teams/players-teams.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] reportes partidos esb estandar
  Frontend/src/app/components/fields/player-field/player-field.component.html
  Frontend/src/app/components/fields/player-field/player-field.component.ts
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/components/reports/user/teams/teams.component.css
  Frontend/src/app/components/reports/user/teams/teams.component.html
  Frontend/src/app/components/reports/user/teams/teams.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] reportes competencias esb estandar
  Frontend/src/app/components/reports/user/competitions/competitions.component.css
  Frontend/src/app/components/reports/user/competitions/competitions.component.html
  Frontend/src/app/components/reports/user/competitions/competitions.component.ts
  Frontend/src/app/models/team.model.ts
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.html
  Frontend/src/app/services/customer.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Retorno del campo si posee membresia
  Database/Vistas.sql
  Services/auth/controllers/auth.controller.js
  Services/auth/models/auth.model.js
Due: Test On Auth Service, Build Auth Image

[FIX] Obtener todos los favoritos del usuario
  Services/customer/controllers/favorite.controller.js
  Services/customer/models/favorite.model.js
  Services/customer/routes/favorite.route.js
Due: Test On Customer Service, Build Customer Image

[UPDATE] reportes partidos esb estandar
  Frontend/src/app/components/others/view-table/view-table.component.html
  Frontend/src/app/components/reports/user/games/games.component.html
  Frontend/src/app/components/reports/user/games/games.component.ts
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/models/game.model.ts
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.css
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.html
  Frontend/src/app/services/customer.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIX] Noticias por equipo
  Services/post/controllers/post.controller.js
  Services/post/models/post.model.js
  Services/post/routes/post.route.js
Due: Test On Post Service, Build Post Image

[UPDATE] news estandar
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/others/post/post.component.css
  Frontend/src/app/components/others/post/post.component.html
  Frontend/src/app/components/others/post/post.component.ts
  Frontend/src/app/models/post.model.ts
  Frontend/src/app/pages/customer/feed/feed.component.css
  Frontend/src/app/pages/customer/feed/feed.component.html
  Frontend/src/app/pages/customer/feed/feed.component.ts
  Frontend/src/app/services/customer.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] estandar esb noticias
  Services/post/models/post.model.js
Due: Test On Post Service, Build Post Image

[UPDATE] noticias filtradas estandar esb
  Frontend/src/app/components/fields/team-field/team-field.component.html
  Frontend/src/app/components/fields/team-field/team-field.component.ts
  Frontend/src/app/pages/customer/feed/feed.component.html
  Frontend/src/app/pages/customer/feed/feed.component.ts
  Frontend/src/app/services/new.service.ts
  Services/post/models/post.model.js
Due: Test On Post Service, Build Post Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] seguir equipos esb estandar
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/others/team-card/team-card.component.css
  Frontend/src/app/components/others/team-card/team-card.component.html
  Frontend/src/app/components/others/team-card/team-card.component.ts
  Frontend/src/app/pages/customer/customer-routing.module.ts
  Frontend/src/app/pages/customer/customer.module.ts
  Frontend/src/app/pages/customer/feed/feed.component.ts
  Frontend/src/app/pages/customer/main/main.component.html
  Frontend/src/app/pages/customer/team-list/team-list.component.css
  Frontend/src/app/pages/customer/team-list/team-list.component.html
  Frontend/src/app/pages/customer/team-list/team-list.component.ts
  Frontend/src/app/services/customer.service.ts
  Services/customer/controllers/favorite.controller.js
Due: Test On Customer Service, Build Customer Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Ruteo dinamico
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/guards/has-membership.guard.ts
  Frontend/src/app/pages/customer/customer-routing.module.ts
  Frontend/src/app/pages/customer/main/main.component.html
  Frontend/src/app/pages/customer/main/main.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] perfil estandarizado
  Frontend/src/app/pages/customer/profile/profile.component.ts
  Frontend/src/app/services/customer.service.ts
  Services/customer/controllers/customer.controller.js
Due: Test On Customer Service, Build Customer Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] memebresias estandarizadas
  Frontend/src/app/components/others/view-table/view-table.component.html
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/pages/customer/profile/profile.component.ts
  Frontend/src/app/services/customer.service.ts
  Services/administrator/src/controllers/reporte.controller.ts
Due: Test On Administrator Service, Build Administrator Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Calificacion.
  Frontend/src/app/auth/home/home.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Agregado diseño de página principal, contacto e inicio de sesión.
  App/src/app/tab1/tab1.page.html
  App/src/app/tab2/tab2.page.html
  App/src/app/tab2/tab2.page.scss
  App/src/app/tab3/tab3.page.html
  App/src/app/tabs/tabs.page.html
  App/src/global.scss
  App/src/index.html
  App/src/theme/variables.scss
Due: none

[DELETE] Elimininación de componentes.
  App/src/app/explore-container/explore-container.component.html
  App/src/app/explore-container/explore-container.component.scss
  App/src/app/explore-container/explore-container.component.spec.ts
  App/src/app/explore-container/explore-container.component.ts
  App/src/app/explore-container/explore-container.module.ts
  App/src/app/tab1/tab1.module.ts
  App/src/app/tab1/tab1.page.spec.ts
  App/src/app/tab2/tab2.module.ts
  App/src/app/tab2/tab2.page.spec.ts
  App/src/app/tab3/tab3.module.ts
  App/src/app/tab3/tab3.page.html
  App/src/app/tab3/tab3.page.scss
  App/src/app/tab3/tab3.page.spec.ts
  App/src/app/tab3/tab3.page.ts
Due: none

[ADD] modal-register.component.* Agregado vista de registro.
  App/src/app/tab3/modal-register/modal-register.component.html
  App/src/app/tab3/modal-register/modal-register.component.scss
  App/src/app/tab3/modal-register/modal-register.component.spec.ts
  App/src/app/tab3/modal-register/modal-register.component.ts
  App/src/app/tab3/tab3.module.ts
  App/src/app/tab3/tab3.page.html
  App/src/app/tab3/tab3.page.ts
Due: none

[ADD] Agregado paginas de empleado.
  App/src/app/app-routing.module.ts
  App/src/app/employee/employee-routing.module.ts
  App/src/app/employee/employee.module.ts
  App/src/app/employee/employee.page.html
  App/src/app/employee/employee.page.scss
  App/src/app/employee/employee.page.spec.ts
  App/src/app/employee/employee.page.ts
  App/src/app/employee/games/games-routing.module.ts
  App/src/app/employee/games/games.module.ts
  App/src/app/employee/games/games.page.html
  App/src/app/employee/games/games.page.scss
  App/src/app/employee/games/games.page.spec.ts
  App/src/app/employee/games/games.page.ts
  App/src/app/employee/news/news-routing.module.ts
  App/src/app/employee/news/news.module.ts
  App/src/app/employee/news/news.page.html
  App/src/app/employee/news/news.page.scss
  App/src/app/employee/news/news.page.spec.ts
  App/src/app/employee/news/news.page.ts
  App/src/app/employee/profile/profile-routing.module.ts
  App/src/app/employee/profile/profile.module.ts
  App/src/app/employee/profile/profile.page.html
  App/src/app/employee/profile/profile.page.scss
  App/src/app/employee/profile/profile.page.spec.ts
  App/src/app/employee/profile/profile.page.ts
  App/src/app/tab1/tab1.page.html
  App/src/app/tabs/tabs-routing.module.ts
Due: none

[ADD] Agregado paginas de cliente.
  App/src/app/app-routing.module.ts
  App/src/app/client/client-routing.module.ts
  App/src/app/client/client.module.ts
  App/src/app/client/client.page.html
  App/src/app/client/client.page.scss
  App/src/app/client/client.page.spec.ts
  App/src/app/client/client.page.ts
  App/src/app/client/prediction/prediction-routing.module.ts
  App/src/app/client/prediction/prediction.module.ts
  App/src/app/client/prediction/prediction.page.html
  App/src/app/client/prediction/prediction.page.scss
  App/src/app/client/prediction/prediction.page.spec.ts
  App/src/app/client/prediction/prediction.page.ts
  App/src/app/client/profile/profile-routing.module.ts
  App/src/app/client/profile/profile.module.ts
  App/src/app/client/profile/profile.page.html
  App/src/app/client/profile/profile.page.scss
  App/src/app/client/profile/profile.page.spec.ts
  App/src/app/client/profile/profile.page.ts
  App/src/app/client/querys/querys-routing.module.ts
  App/src/app/client/querys/querys.module.ts
  App/src/app/client/querys/querys.page.html
  App/src/app/client/querys/querys.page.scss
  App/src/app/client/querys/querys.page.spec.ts
  App/src/app/client/querys/querys.page.ts
  App/src/app/client/teams/teams-routing.module.ts
  App/src/app/client/teams/teams.module.ts
  App/src/app/client/teams/teams.page.html
  App/src/app/client/teams/teams.page.scss
  App/src/app/client/teams/teams.page.spec.ts
  App/src/app/client/teams/teams.page.ts
Due: none

[UPDATE] Actualización de diseño de noticias, perfil y partidos.
  App/src/app/client/profile/profile.page.html
  App/src/app/employee/games/games.page.html
  App/src/app/employee/news/news.page.html
  App/src/app/employee/profile/profile.page.html
Due: none

[ADD] Agregado servicios
  App/src/app/services/admin.service.ts
  App/src/app/services/auth.service.ts
  App/src/app/services/competition.service.ts
  App/src/app/services/country.service.ts
  App/src/app/services/customer.service.ts
  App/src/app/services/date-format.service.ts
  App/src/app/services/match.service.ts
  App/src/app/services/new.service.ts
  App/src/app/services/notification.service.ts
  App/src/app/services/player.service.ts
  App/src/app/services/stadium.service.ts
  App/src/app/services/team.service.ts
  App/src/app/services/technical-director.service.ts
Due: none

[ADD] Agregado modelos
  App/src/app/models/competition.model.ts
  App/src/app/models/country.model.ts
  App/src/app/models/game.model.ts
  App/src/app/models/incidence.model.ts
  App/src/app/models/log.model.ts
  App/src/app/models/option.model.ts
  App/src/app/models/player.model.ts
  App/src/app/models/post.model.ts
  App/src/app/models/stadium.model.ts
  App/src/app/models/team.model.ts
  App/src/app/models/technical-director.model.ts
  App/src/app/models/transference.model.ts
  App/src/app/models/user.model.ts
Due: none

[ADD] Agregado inicio de sesión, ver noticias y agregar noticias.
  App/src/app/app.module.ts
  App/src/app/employee/news/modal-new/modal-new.component.html
  App/src/app/employee/news/modal-new/modal-new.component.scss
  App/src/app/employee/news/modal-new/modal-new.component.ts
  App/src/app/employee/news/news.module.ts
  App/src/app/employee/news/news.page.html
  App/src/app/employee/news/news.page.ts
  App/src/app/tab3/tab3.page.html
  App/src/app/tab3/tab3.page.ts
  App/src/environments/environment.prod.ts
  App/src/environments/environment.ts
Due: none

[ADD] Agregado edición estado de juego y mostrar juegos.
  App/src/app/employee/games/games.module.ts
  App/src/app/employee/games/games.page.ts
  App/src/app/employee/games/modal-game/modal-game.component.html
  App/src/app/employee/games/modal-game/modal-game.component.scss
  App/src/app/employee/games/modal-game/modal-game.component.ts
  App/src/app/employee/news/modal-new/modal-new.component.ts
  App/src/app/employee/profile/profile.page.html
  App/src/app/employee/profile/profile.page.ts
  App/src/app/services/notification.service.ts
Due: none

[ADD] Agregado equipos favoritos.
  App/src/app/client/teams/teams.page.html
  App/src/app/client/teams/teams.page.ts
  App/src/app/tab3/tab3.page.ts
Due: none

[UPDATE] Agregado obtener y cancelar membresía.
  App/src/app/client/profile/profile.page.html
  App/src/app/client/profile/profile.page.ts
Due: none
