Repository dadu0699/Soccer-Stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Test On Customer Service, Test On Team Service, Test On Match Service, Test On Competition Service, Test On Stadium Service, Test On Teachnical Director Service, Test On Player Service, Test On Post Service, Test On Auth Service, Test On Administrator Service, Test On Employee Service, Test On Country Service, Build Customer Image, Build Team Image, Build Match Image, Build Competition Image, Build Stadium Image, Build Technical Director Image, Build Player Image, Build Post Image, Build Auth Image, Build Administrator Image, Build Employee Image, Build Country Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Path conditions:
  Test On Customer Service: any of: Services/customer/**
  Test On Team Service: any of: Services/team/**
  Test On Match Service: any of: Services/match/**
  Test On Competition Service: any of: Services/competition/**
  Test On Stadium Service: any of: Services/stadium/**
  Test On Teachnical Director Service: any of: Services/technical_director/**
  Test On Player Service: any of: Services/player/**
  Test On Post Service: any of: Services/post/**
  Test On Auth Service: any of: Services/auth/**
  Test On Administrator Service: any of: Services/administrator/**
  Test On Employee Service: any of: Services/employee/**
  Test On Country Service: any of: Services/country/**
  Build Customer Image: any of: Services/customer/**
  Build Team Image: any of: Services/team/**
  Build Match Image: any of: Services/match/**
  Build Competition Image: any of: Services/competition/**
  Build Stadium Image: any of: Services/stadium/**
  Build Technical Director Image: any of: Services/technical_director/**
  Build Player Image: any of: Services/player/**
  Build Post Image: any of: Services/post/**
  Build Auth Image: any of: Services/auth/**
  Build Administrator Image: any of: Services/administrator/**
  Build Employee Image: any of: Services/employee/**
  Build Country Image: any of: Services/country/**
  Build Frontend Test-Image: any of: Frontend/**
  Testing Frontend: any of: Frontend/**
  Build Frontend Image: any of: Frontend/**

[UPDATE] validacion incidencias con partido iniciado.
  Frontend/src/app/components/views/game-view/game-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Conexion de reportes
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/models/option.model.ts
  Frontend/src/app/services/admin.service.spec.ts
  Frontend/src/app/services/admin.service.ts
  Frontend/src/app/services/country.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Integracion reportes empleado/logs
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.ts
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/services/admin.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Reportes de cliente 1-11 (pendientes de revision)
  Database/DDL.sql
  Services/customer/app.js
  Services/customer/controllers/report.controller.js
  Services/customer/models/report.model.js
  Services/customer/routes/report.route.js
Due: Test On Customer Service, Build Customer Image

[FIX] Despliegue servicio director tecnico
  Terraform/Scripts/startup_script.sh
Due: none

[UPDATE] estado de cuenta.
  Frontend/src/app/components/others/account-management/account-management.component.ts
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.html
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.ts
  Frontend/src/app/components/views/user-view/user-view.component.html
  Frontend/src/app/components/views/user-view/user-view.component.ts
  Frontend/src/app/services/admin.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Inicio de sesion, registro y correo con contraseña temporal
  Frontend/src/app/auth/login/login.component.html
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/services/auth.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] CRUD admin.
  Frontend/src/app/components/views/user-view/user-view.component.ts
  Frontend/src/app/services/admin.service.ts
  Services/administrator/src/controllers/usuario.controller.ts
  Services/administrator/src/server/server.ts
  Services/administrator/src/views/mail.handlebars
Due: Test On Administrator Service, Build Administrator Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] quitar token quemado
  Frontend/src/app/services/admin.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Proteccion de rutas
  Frontend/src/app/access-denied/access-denied.component.html
  Frontend/src/app/access-denied/access-denied.component.ts
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/auth/auth-routing.module.ts
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/guards/admin.guard.ts
  Frontend/src/app/guards/customer.guard.ts
  Frontend/src/app/guards/employee.guard.ts
  Frontend/src/app/pages/admin/admin-routing.module.ts
  Frontend/src/app/pages/admin/admin.module.ts
  Frontend/src/app/pages/pages-routing.module.ts
  Frontend/src/app/pages/pages.module.ts
  Frontend/src/app/shared/shared.module.ts
  Frontend/src/app/shared/toolbar/toolbar.component.html
  Frontend/src/app/shared/toolbar/toolbar.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Menu
  Frontend/src/app/pages/admin/main/main.component.html
  Frontend/src/app/pages/customer/main/main.component.html
  Frontend/src/app/shared/toolbar/toolbar.component.html
  Frontend/src/app/shared/toolbar/toolbar.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIXED] package.json
  Services/technical_director/package-lock.json
  Services/technical_director/package.json
Due: Test On Teachnical Director Service, Build Technical Director Image

[FIXED] package.json
  Services/administrator/package-lock.json
  Services/administrator/package.json
Due: Test On Administrator Service, Build Administrator Image

[FIXED] create.route.js, update.route.js
  Services/player/src/routes/create.route.js
  Services/player/src/routes/update.route.js
  Services/stadium/src/routes/create.route.js
  Services/stadium/src/routes/update.route.js
  Services/team/src/routes/create.route.js
  Services/team/src/routes/update.route.js
Due: Test On Team Service, Test On Stadium Service, Test On Player Service, Build Team Image, Build Stadium Image, Build Player Image

[ADD] Actualizacion de la DB
  Database/DDL.sql
  Database/DML.SQL
  Database/Vistas.sql
Due: none

[UPDATE] Reportes 1-11
  Services/customer/controllers/report.controller.js
  Services/customer/models/report.model.js
Due: Test On Customer Service, Build Customer Image

[FIX] login.component.ts
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/services/technical-director.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] auth.controller.js
  Services/auth/controllers/auth.controller.js
Due: Test On Auth Service, Build Auth Image

[FIX] post.model.js
  Services/post/models/post.model.js
Due: Test On Post Service, Build Post Image

[ADD] Agregado new service.
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/views/new-view/new-view.component.css
  Frontend/src/app/components/views/new-view/new-view.component.html
  Frontend/src/app/components/views/new-view/new-view.component.ts
  Frontend/src/app/pages/employee/management/management.component.html
  Frontend/src/app/services/new.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Reportes cliente
  Services/customer/controllers/report.controller.js
  Services/customer/models/report.model.js
  Services/customer/routes/report.route.js
Due: Test On Customer Service, Build Customer Image

[UPDATE] DDL
  Database/DDL.sql
Due: none

[UPDATE] Consulta para listar jugadores
  Services/player/src/routes/get.all.js
Due: Test On Player Service, Build Player Image

[DELETE] new-post.component.ts
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/others/new-post/new-post.component.css
  Frontend/src/app/components/others/new-post/new-post.component.html
  Frontend/src/app/components/others/new-post/new-post.component.ts
  Frontend/src/app/components/views/team-view/team-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Equipos en el director tecnico
  Services/technical_director/src/controllers/director-tecnico.controller.ts
Due: Test On Teachnical Director Service, Build Technical Director Image

[FIX] views
  Frontend/src/app/components/views/competition-view/competition-view.component.ts
  Frontend/src/app/components/views/game-view/game-view.component.ts
  Frontend/src/app/components/views/new-view/new-view.component.ts
  Frontend/src/app/components/views/player-view/player-view.component.ts
  Frontend/src/app/components/views/stadium-view/stadium-view.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] estructura reportes
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/reports/user/competitions/competitions.component.css
  Frontend/src/app/components/reports/user/competitions/competitions.component.html
  Frontend/src/app/components/reports/user/competitions/competitions.component.spec.ts
  Frontend/src/app/components/reports/user/competitions/competitions.component.ts
  Frontend/src/app/components/reports/user/games/games.component.css
  Frontend/src/app/components/reports/user/games/games.component.html
  Frontend/src/app/components/reports/user/games/games.component.spec.ts
  Frontend/src/app/components/reports/user/games/games.component.ts
  Frontend/src/app/components/reports/user/players/players.component.css
  Frontend/src/app/components/reports/user/players/players.component.html
  Frontend/src/app/components/reports/user/players/players.component.spec.ts
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/components/reports/user/teams/teams.component.css
  Frontend/src/app/components/reports/user/teams/teams.component.html
  Frontend/src/app/components/reports/user/teams/teams.component.spec.ts
  Frontend/src/app/components/reports/user/teams/teams.component.ts
  Frontend/src/app/pages/customer/customer-routing.module.ts
  Frontend/src/app/pages/customer/customer.module.ts
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.css
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.html
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.spec.ts
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.ts
  Frontend/src/app/pages/customer/main/main.component.html
  Frontend/src/app/pages/customer/main/main.component.ts
  Frontend/src/app/pages/customer/players-teams/players-teams.component.css
  Frontend/src/app/pages/customer/players-teams/players-teams.component.html
  Frontend/src/app/pages/customer/players-teams/players-teams.component.spec.ts
  Frontend/src/app/pages/customer/players-teams/players-teams.component.ts
  Frontend/src/app/pages/customer/stadiums/stadiums.component.css
  Frontend/src/app/pages/customer/stadiums/stadiums.component.html
  Frontend/src/app/pages/customer/stadiums/stadiums.component.spec.ts
  Frontend/src/app/pages/customer/stadiums/stadiums.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIX] Listado
  Services/player/src/routes/get.all.js
  Services/technical_director/src/routes/director-tecnico.routes.ts
Due: Test On Teachnical Director Service, Test On Player Service, Build Technical Director Image, Build Player Image

[ADD] plantilla
  Frontend/src/app/models/stadium.model.ts
  Frontend/src/app/pages/customer/customer.module.ts
  Frontend/src/app/pages/customer/stadiums/stadiums.component.html
  Frontend/src/app/pages/customer/stadiums/stadiums.component.ts
  Frontend/src/app/services/customer.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[DELETE] archivos extras
  Frontend/src/app/components/reports/user/.gitkeep
  Frontend/src/app/components/reports/user/competitions/competitions.component.spec.ts
  Frontend/src/app/components/reports/user/games/games.component.spec.ts
  Frontend/src/app/components/reports/user/players/players.component.spec.ts
  Frontend/src/app/components/reports/user/teams/teams.component.spec.ts
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.spec.ts
  Frontend/src/app/pages/customer/players-teams/players-teams.component.spec.ts
  Frontend/src/app/pages/customer/stadiums/stadiums.component.spec.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Redireccionamiento desde los email
  Services/administrator/src/controllers/usuario.controller.ts
  Services/auth/controllers/auth.controller.js
  Services/customer/configs/nodemail.js
Due: Test On Customer Service, Test On Auth Service, Test On Administrator Service, Build Customer Image, Build Auth Image, Build Administrator Image

[ADD] Diferentes DB
  Jenkinsfile
  Terraform/Production/variables.tf
  Terraform/Scripts/startup_script.sh
  Terraform/Testing/variables.tf
Due: none

[ADD] conexion backend
  Frontend/src/app/pages/customer/stadiums/stadiums.component.ts
  Frontend/src/app/services/admin.service.ts
  Frontend/src/app/services/customer.service.ts
  Services/customer/controllers/report.controller.js
Due: Test On Customer Service, Build Customer Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] transfer-dialog.component.ts
  Frontend/src/app/components/dialogs/transfer-dialog/transfer-dialog.component.html
  Frontend/src/app/components/dialogs/transfer-dialog/transfer-dialog.component.ts
  Frontend/src/app/components/views/player-view/player-view.component.ts
  Frontend/src/app/models/technical-director.model.ts
  Frontend/src/app/models/transference.model.ts
  Frontend/src/app/services/player.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] transfer-dialog-technical-director.component.ts
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.css
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.html
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
  Frontend/src/app/services/technical-director.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] reestructuracion y correciones
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/components/reports/user/stadiums-list/stadiums-list.component.css
  Frontend/src/app/components/reports/user/stadiums-list/stadiums-list.component.html
  Frontend/src/app/components/reports/user/stadiums-list/stadiums-list.component.ts
  Frontend/src/app/pages/customer/stadiums/stadiums.component.html
  Frontend/src/app/pages/customer/stadiums/stadiums.component.ts
  Frontend/src/app/services/admin.service.ts
  Services/administrator/src/controllers/reporte.controller.ts
Due: Test On Administrator Service, Build Administrator Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] incidence-dialog.component.*
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.html
  Frontend/src/app/components/dialogs/incidence-dialog/incidence-dialog.component.ts
  Frontend/src/app/components/dialogs/transfer-dialog-technical-director/transfer-dialog-technical-director.component.ts
  Frontend/src/app/components/dialogs/transfer-dialog/transfer-dialog.component.ts
  Frontend/src/app/components/views/game-view/game-view.component.ts
  Frontend/src/app/components/views/player-view/player-view.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
  Frontend/src/app/models/incidence.model.ts
  Frontend/src/app/services/match.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Listar incidencias
  Services/employee/controllers/employee.controller.js
  Services/employee/models/employee.model.js
  Services/employee/routes/employee.route.js
Due: Test On Employee Service, Build Employee Image

[FIX] Equipos en vistas
  Database/Vistas.sql
Due: none
