Repository dadu0699/Soccer-Stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Test On Customer Service, Test On Team Service, Test On Match Service, Test On Competition Service, Test On Stadium Service, Test On Teachnical Director Service, Test On Player Service, Test On Post Service, Test On Auth Service, Test On Administrator Service, Test On Employee Service, Test On Country Service, Build Customer Image, Build Team Image, Build Match Image, Build Competition Image, Build Stadium Image, Build Technical Director Image, Build Player Image, Build Post Image, Build Auth Image, Build Administrator Image, Build Employee Image, Build Country Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Test On Customer Service:
        steps {
          sh '''
            cd Services/customer
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Team Service:
        steps {
          sh '''
            cd Services/team
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Match Service:
        steps {
          sh '''
            cd Services/match
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Competition Service:
        steps {
          sh '''
            cd Services/competition
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Stadium Service:
        steps {
          sh '''
            cd Services/stadium
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Teachnical Director Service:
        steps {
          sh '''
            cd Services/technical_director
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Player Service:
        steps {
          sh '''
            cd Services/player
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Post Service:
        steps {
          sh '''
            cd Services/post
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Auth Service:
        steps {
          sh '''
            cd Services/auth
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Administrator Service:
        steps {
          sh '''
            cd Services/administrator
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Employee Service:
        steps {
          sh '''
            cd Services/employee
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Country Service:
        steps {
          sh '''
            cd Services/country
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Testing Frontend:
        steps {
          sh 'echo "Testing Frontend"'
        }
      

[ADD] algoritmo de prediccion
  Services/prediction/src/routes/predic.route.js
Due: none

[ADD] Dockerfile
  Services/prediction/Dockerfile
Due: none

[ADD] Test
  Services/prediction/tests/index.spec.js
Due: none

[ADD] dockerignore
  Services/prediction/.dockerignore
Due: none

[UPDATE] Se agrego competicion y partidos al DML
  Database/DML.SQL
  Services/prediction/src/routes/predic.route.js
Due: none

[FIX] Redirección de rutas
  Services/administrator/src/controllers/usuario.controller.ts
  Services/auth/controllers/auth.controller.js
Due: Test On Auth Service, Test On Administrator Service, Build Auth Image, Build Administrator Image

[UPDATE]Vista equipos.
  Frontend/src/app/components/others/post/post.component.css
  Frontend/src/app/components/others/post/post.component.html
  Frontend/src/app/components/others/team-card/team-card.component.css
  Frontend/src/app/components/others/team-card/team-card.component.html
  Frontend/src/app/components/others/team-card/team-card.component.ts
  Frontend/src/app/components/views/user-view/user-view.component.html
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.css
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.html
  Frontend/src/app/pages/admin/user-management/user-management.component.css
  Frontend/src/app/pages/admin/user-reports/user-reports.component.css
  Frontend/src/app/pages/customer/feed/feed.component.css
  Frontend/src/app/pages/customer/feed/feed.component.html
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.css
  Frontend/src/app/pages/customer/games-competitions/games-competitions.component.html
  Frontend/src/app/pages/customer/games-list/games-list.component.css
  Frontend/src/app/pages/customer/games-list/games-list.component.html
  Frontend/src/app/pages/customer/games-list/games-list.component.ts
  Frontend/src/app/pages/customer/main/main.component.css
  Frontend/src/app/pages/customer/main/main.component.html
  Frontend/src/app/pages/customer/players-teams/players-teams.component.html
  Frontend/src/app/pages/customer/stadiums/stadiums.component.css
  Frontend/src/app/pages/customer/stadiums/stadiums.component.html
  Frontend/src/app/pages/customer/team-list/team-list.component.css
  Frontend/src/app/pages/customer/team-list/team-list.component.html
  Frontend/src/app/pages/customer/team-list/team-list.component.ts
  Frontend/src/app/shared/footer/footer.component.css
  Frontend/src/app/shared/toolbar/toolbar.component.css
  Frontend/src/app/shared/toolbar/toolbar.component.html
  Frontend/src/environments/environment.ts
  Frontend/src/styles.css
  Services/customer/models/favorite.model.js
Due: Test On Customer Service, Build Customer Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Obtención Membresía.
  Frontend/src/app/pages/customer/profile/profile.component.html
  Frontend/src/app/pages/customer/profile/profile.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Normalización de generos.
  Frontend/src/app/components/others/user-register-form/user-register-form.component.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/components/reports/user/competitions/competitions.component.ts
  Frontend/src/app/components/reports/user/games/games.component.ts
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/components/views/user-view/user-view.component.ts
  Frontend/src/app/models/user.model.ts
  Frontend/src/app/pages/customer/profile/profile.component.ts
  Frontend/src/environments/environment.ts
  Services/customer/controllers/customer.controller.js
Due: Test On Customer Service, Build Customer Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Tamaño noticias
  Frontend/src/app/components/others/post/post.component.css
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Dialogo darse de baja.
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/dialogs/confirmation-dialog/confirmation-dialog.component.css
  Frontend/src/app/components/dialogs/confirmation-dialog/confirmation-dialog.component.html
  Frontend/src/app/components/dialogs/confirmation-dialog/confirmation-dialog.component.ts
  Frontend/src/app/pages/customer/profile/profile.component.ts
  Frontend/src/environments/environment.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Vista partidos
  Frontend/src/app/pages/customer/customer.module.ts
  Frontend/src/app/pages/customer/games-list/games-list.component.css
  Frontend/src/app/pages/customer/games-list/games-list.component.html
  Frontend/src/app/pages/customer/games-list/games-list.component.ts
  Frontend/src/environments/environment.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIX] Navegación.
  Frontend/src/app/pages/admin/admin-routing.module.ts
  Frontend/src/app/pages/admin/admin.module.ts
  Frontend/src/app/pages/admin/esb-management/esb-management.component.css
  Frontend/src/app/pages/admin/esb-management/esb-management.component.html
  Frontend/src/app/pages/admin/esb-management/esb-management.component.ts
  Frontend/src/app/pages/admin/main/main.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Cuadro de opciones
  Frontend/src/app/pages/admin/admin-routing.module.ts
  Frontend/src/app/pages/admin/admin.module.ts
  Frontend/src/app/pages/admin/esb-management/esb-management.component.css
  Frontend/src/app/pages/admin/esb-management/esb-management.component.html
  Frontend/src/app/pages/admin/esb-management/esb-management.component.ts
  Frontend/src/app/pages/admin/main/main.component.css
  Frontend/src/app/pages/admin/main/main.component.html
  Frontend/src/app/pages/admin/main/main.component.ts
  Frontend/src/environments/environment.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Lógica cambio de ESB.
  Database/DML.SQL
  Frontend/src/app/auth/login/login.component.ts
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/components/views/user-view/user-view.component.ts
  Frontend/src/app/pages/admin/main/main.component.html
  Frontend/src/app/pages/admin/main/main.component.ts
  Frontend/src/app/pages/admin/user-reports/user-reports.component.html
  Frontend/src/app/pages/customer/profile/profile.component.ts
  Frontend/src/app/services/admin.service.ts
  Frontend/src/app/services/auth.service.ts
  Frontend/src/app/services/customer.service.ts
  Frontend/src/app/shared/toolbar/toolbar.component.ts
  Frontend/src/environments/environment.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Proceso de publicacion servicio de prediccion
  ESB/nginx-testing.conf
  ESB/nginx.conf
  Kubernetes/Production/Jenkinsfile
  Kubernetes/Production/prediction.yml
  Kubernetes/Testing/Jenkinsfile
  Kubernetes/Testing/prediction.yml
Due: none

[ADD] Agregado servicio de predicción.
  App/src/app/client/prediction/prediction.page.html
  App/src/app/client/prediction/prediction.page.ts
  App/src/app/services/prediction.service.ts
  App/src/assets/img/win.svg
Due: none

[ADD] Conexion de las notificaciones con los servicios
  Services/match/controllers/match.controller.js
  Services/match/helpers/pushNotificationHandler.js
  Services/match/models/favorite.model.js
  Services/match/package-lock.json
  Services/match/package.json
  Services/post/controllers/post.controller.js
  Services/post/helpers/pushNotificationHandler.js
  Services/post/models/favorite.model.js
  Services/post/package-lock.json
  Services/post/package.json
Due: Test On Match Service, Test On Post Service, Build Match Image, Build Post Image

[ADD] Conexion de las notificaciones con los servicios
  Services/match/helpers/pushNotificationHandler.js
Due: Test On Match Service, Build Match Image

[FIX] Test creacion de noticias
  Services/post/tests/app.test.js
Due: Test On Post Service, Build Post Image

[FIX] Obtener datos Prediccion
  Services/prediction/src/models/predic.model.js
Due: none

[ADD] ESBs faltantes
  Database/DML.SQL
  Frontend/src/environments/environment.prod.ts
  Frontend/src/environments/environment.testing.ts
  Frontend/src/environments/environment.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Funcionalidad completa.
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/dialogs/predict-dialog/predict-dialog.component.css
  Frontend/src/app/components/dialogs/predict-dialog/predict-dialog.component.html
  Frontend/src/app/components/dialogs/predict-dialog/predict-dialog.component.ts
  Frontend/src/app/models/results.model.ts
  Frontend/src/app/pages/customer/games-list/games-list.component.css
  Frontend/src/app/pages/customer/games-list/games-list.component.html
  Frontend/src/app/pages/customer/games-list/games-list.component.ts
  Frontend/src/app/services/match.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] prediction.page.html
  App/src/app/client/prediction/prediction.page.html
Due: none

[UPDATE] notificacion-push.service.ts
  App/src/app/services/notificacion-push.service.ts
  App/src/environments/environment.ts
Due: none

[FIXED] Notificacion push.
  App/src/app/services/notificacion-push.service.ts
Due: none

[UPDATE] Direccion ESB Grupo D, Impresión en consola.
  Frontend/src/app/components/others/team-card/team-card.component.ts
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.ts
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/components/reports/user/competitions/competitions.component.ts
  Frontend/src/app/components/reports/user/games/games.component.ts
  Frontend/src/app/components/reports/user/players/players.component.ts
  Frontend/src/app/components/reports/user/stadiums-list/stadiums-list.component.ts
  Frontend/src/app/components/reports/user/teams/teams.component.ts
  Frontend/src/app/pages/customer/profile/profile.component.ts
  Frontend/src/app/pages/customer/team-list/team-list.component.ts
  Frontend/src/environments/environment.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE]Cambio dirección ESB GD
  Frontend/src/environments/environment.prod.ts
  Frontend/src/environments/environment.testing.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Path conditions:
  Test On Customer Service: any of: Services/customer/**
  Test On Team Service: any of: Services/team/**
  Test On Match Service: any of: Services/match/**
  Test On Competition Service: any of: Services/competition/**
  Test On Stadium Service: any of: Services/stadium/**
  Test On Teachnical Director Service: any of: Services/technical_director/**
  Test On Player Service: any of: Services/player/**
  Test On Post Service: any of: Services/post/**
  Test On Auth Service: any of: Services/auth/**
  Test On Administrator Service: any of: Services/administrator/**
  Test On Employee Service: any of: Services/employee/**
  Test On Country Service: any of: Services/country/**
  Build Customer Image: any of: Services/customer/**
  Build Team Image: any of: Services/team/**
  Build Match Image: any of: Services/match/**
  Build Competition Image: any of: Services/competition/**
  Build Stadium Image: any of: Services/stadium/**
  Build Technical Director Image: any of: Services/technical_director/**
  Build Player Image: any of: Services/player/**
  Build Post Image: any of: Services/post/**
  Build Auth Image: any of: Services/auth/**
  Build Administrator Image: any of: Services/administrator/**
  Build Employee Image: any of: Services/employee/**
  Build Country Image: any of: Services/country/**
  Build Frontend Test-Image: any of: Frontend/**
  Testing Frontend: any of: Frontend/**
  Build Frontend Image: any of: Frontend/**
