Repository dadu0699/Soccer-Stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Test On Customer Service, Test On Team Service, Test On Match Service, Test On Competition Service, Test On Stadium Service, Test On Teachnical Director Service, Test On Player Service, Test On Post Service, Test On Auth Service, Test On Administrator Service, Test On Employee Service, Test On Country Service, Build Customer Image, Build Team Image, Build Match Image, Build Competition Image, Build Stadium Image, Build Technical Director Image, Build Player Image, Build Post Image, Build Auth Image, Build Administrator Image, Build Employee Image, Build Country Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Test On Customer Service:
        steps {
          sh '''
            cd Services/customer
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Team Service:
        steps {
          sh '''
            cd Services/team
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Match Service:
        steps {
          sh '''
            cd Services/match
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Competition Service:
        steps {
          sh '''
            cd Services/competition
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Stadium Service:
        steps {
          sh '''
            cd Services/stadium
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Teachnical Director Service:
        steps {
          sh '''
            cd Services/technical_director
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Player Service:
        steps {
          sh '''
            cd Services/player
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Post Service:
        steps {
          sh '''
            cd Services/post
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Auth Service:
        steps {
          sh '''
            cd Services/auth
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Administrator Service:
        steps {
          sh '''
            cd Services/administrator
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Employee Service:
        steps {
          sh '''
            cd Services/employee
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Test On Country Service:
        steps {
          sh '''
            cd Services/country
            rm -rf .env.test
            cp ${ENV_TEST} .env.test
            npm install
            npm run test
          '''
        }
      

Testing Frontend:
        steps {
          sh 'echo "Testing Frontend"'
        }
      

[UDPATE] Pruebas en el pipeline
  Frontend/src/app/app.component.html
  Services/competition/src/routes/hello-world.route.js
  Services/player/src/routes/hello-world.route.js
  Services/stadium/src/routes/hello-world.route.js
Due: Test On Competition Service, Test On Stadium Service, Test On Player Service, Build Competition Image, Build Stadium Image, Build Player Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] DDL.sql
  Database/DDL.sql
Due: none

[DELETE] Mensaje de testing
  Frontend/src/app/app.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Manejo de error login
  Services/auth/controllers/auth.controller.js
Due: Test On Auth Service, Build Auth Image

[ADD] Rutas para reportes
  Frontend/src/app/models/option.model.ts
  Frontend/src/app/pages/admin/admin-routing.module.ts
  Frontend/src/app/pages/admin/admin.module.ts
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.css
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.html
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.spec.ts
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.ts
  Frontend/src/app/pages/admin/logs/logs.component.css
  Frontend/src/app/pages/admin/logs/logs.component.html
  Frontend/src/app/pages/admin/logs/logs.component.spec.ts
  Frontend/src/app/pages/admin/logs/logs.component.ts
  Frontend/src/app/pages/admin/main/main.component.html
  Frontend/src/app/pages/admin/main/main.component.ts
  Frontend/src/app/pages/admin/user-reports/user-reports.component.css
  Frontend/src/app/pages/admin/user-reports/user-reports.component.html
  Frontend/src/app/pages/admin/user-reports/user-reports.component.spec.ts
  Frontend/src/app/pages/admin/user-reports/user-reports.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] DML jugadores, tecnicos y usuarios
  Database/DML.SQL
Due: none

[ADD] DML Usuarios
  Database/DML.SQL
Due: none

[UPDATE] Parametros servicio equipo
  Services/team/src/routes/get.all.js
Due: Test On Team Service, Build Team Image

[ADD] Agregar a favoritos
  Services/customer/app.js
  Services/customer/controllers/favorite.controller.js
  Services/customer/models/favorite.model.js
  Services/customer/routes/favorite.route.js
Due: Test On Customer Service, Build Customer Image

[ADD] Reportes generales sobre usuarios.
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/others/view-table/view-table.component.html
  Frontend/src/app/components/others/view-table/view-table.component.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.css
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.html
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.spec.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/components/views/user-view/user-view.component.ts
  Frontend/src/app/models/user.model.ts
  Frontend/src/app/pages/admin/admin.module.ts
  Frontend/src/app/pages/admin/user-reports/user-reports.component.css
  Frontend/src/app/pages/admin/user-reports/user-reports.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] Reportes generales sobre usuarios suscritos.
  Frontend/src/app/components/reports/admin/.gitkeep
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.html
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/pages/admin/user-reports/user-reports.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] reportes de usuario por membresia
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.html
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/models/user.model.ts
  Frontend/src/app/pages/admin/user-reports/user-reports.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Bitácora
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.css
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.html
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.spec.ts
  Frontend/src/app/components/reports/admin/logs-table/logs-table.component.ts
  Frontend/src/app/components/reports/admin/users-per-parameter/users-per-parameter.component.ts
  Frontend/src/app/models/log.model.ts
  Frontend/src/app/pages/admin/logs/logs.component.css
  Frontend/src/app/pages/admin/logs/logs.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Estadio, Equipo
  Database/DML.SQL
Due: none

[UPDATE] team.service.ts
  Frontend/src/app/services/team.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] team-view.component.ts
  Frontend/src/app/components/views/team-view/team-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Reportes sobre empleados
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.css
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.html
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.spec.ts
  Frontend/src/app/components/reports/admin/employees-per-parameter/employees-per-parameter.component.ts
  Frontend/src/app/pages/admin/employee-reports/employee-reports.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] date-format.service.ts
  Frontend/src/app/services/date-format.service.spec.ts
  Frontend/src/app/services/date-format.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] stadium.service.ts, stadium-view.component.ts
  Frontend/src/app/components/fields/country-field/country-field.component.ts
  Frontend/src/app/components/views/stadium-view/stadium-view.component.ts
  Frontend/src/app/services/stadium.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] competition.service.ts
  Frontend/src/app/services/competition.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIXED] stadium-view.component.ts
  Frontend/src/app/components/views/stadium-view/stadium-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] competition-view.component.ts
  Frontend/src/app/components/views/competition-view/competition-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] technical-director.service.ts
  Frontend/src/app/services/technical-director.service.spec.ts
  Frontend/src/app/services/technical-director.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] player.service.ts
  Frontend/src/app/services/player.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] player-view.component.ts
  Frontend/src/app/components/views/player-view/player-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] Crecion de noticias
  Frontend/src/app/components/components.module.ts
  Frontend/src/app/components/others/new-post/new-post.component.css
  Frontend/src/app/components/others/new-post/new-post.component.html
  Frontend/src/app/components/others/new-post/new-post.component.spec.ts
  Frontend/src/app/components/others/new-post/new-post.component.ts
  Frontend/src/app/models/post.model.ts
  Frontend/src/app/pages/employee/management/management.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] techinical-drector-view.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] match.service.ts
  Frontend/src/app/services/match.service.spec.ts
  Frontend/src/app/services/match.service.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[FIX] competition-field.component.ts, stadium-field.component.ts
  Frontend/src/app/components/fields/competition-field/competition-field.component.html
  Frontend/src/app/components/fields/competition-field/competition-field.component.ts
  Frontend/src/app/components/fields/stadium-field/stadium-field.component.ts
  Frontend/src/app/components/fields/team-field/team-field.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] game-view.component.ts
  Frontend/src/app/components/views/game-view/game-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATED] views
  Frontend/src/app/components/views/competition-view/competition-view.component.ts
  Frontend/src/app/components/views/game-view/game-view.component.ts
  Frontend/src/app/components/views/player-view/player-view.component.ts
  Frontend/src/app/components/views/stadium-view/stadium-view.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] player-field.component.ts
  Frontend/src/app/components/fields/player-field/player-field.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[ADD] plantilla CRUD perfil de usuario
  Frontend/src/app/components/others/user-register-form/user-register-form.component.html
  Frontend/src/app/components/others/user-register-form/user-register-form.component.ts
  Frontend/src/app/pages/customer/customer-routing.module.ts
  Frontend/src/app/pages/customer/customer.module.ts
  Frontend/src/app/pages/customer/profile/profile.component.css
  Frontend/src/app/pages/customer/profile/profile.component.html
  Frontend/src/app/pages/customer/profile/profile.component.spec.ts
  Frontend/src/app/pages/customer/profile/profile.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] obtener/cancelar membresia
  Frontend/src/app/pages/customer/profile/profile.component.css
  Frontend/src/app/pages/customer/profile/profile.component.html
  Frontend/src/app/pages/customer/profile/profile.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] correcciones varias
  Frontend/src/app/components/views/competition-view/competition-view.component.ts
  Frontend/src/app/components/views/game-view/game-view.component.ts
  Frontend/src/app/components/views/player-view/player-view.component.ts
  Frontend/src/app/components/views/stadium-view/stadium-view.component.ts
  Frontend/src/app/components/views/team-view/team-view.component.ts
  Frontend/src/app/components/views/technical-director-view/technical-director-view.component.ts
  Frontend/src/app/pages/customer/customer-routing.module.ts
  Frontend/src/app/pages/customer/customer.module.ts
  Frontend/src/app/pages/customer/games-list/games-list.component.css
  Frontend/src/app/pages/customer/games-list/games-list.component.html
  Frontend/src/app/pages/customer/games-list/games-list.component.spec.ts
  Frontend/src/app/pages/customer/games-list/games-list.component.ts
  Frontend/src/app/pages/customer/main/main.component.html
  Services/competition/src/routes/get.all.js
  Services/match/models/match.model.js
  Services/stadium/src/routes/get.all.js
  Services/team/src/routes/get.all.js
Due: Test On Team Service, Test On Match Service, Test On Competition Service, Test On Stadium Service, Build Team Image, Build Match Image, Build Competition Image, Build Stadium Image, Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] layout vista partidos
  Frontend/src/app/pages/customer/games-list/games-list.component.html
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

[UPDATE] ver todos los partidos
  Frontend/src/app/pages/customer/games-list/games-list.component.ts
Due: Build Frontend Test-Image, Testing Frontend, Build Frontend Image

Path conditions:
  Test On Customer Service: any of: Services/customer/**
  Test On Team Service: any of: Services/team/**
  Test On Match Service: any of: Services/match/**
  Test On Competition Service: any of: Services/competition/**
  Test On Stadium Service: any of: Services/stadium/**
  Test On Teachnical Director Service: any of: Services/technical_director/**
  Test On Player Service: any of: Services/player/**
  Test On Post Service: any of: Services/post/**
  Test On Auth Service: any of: Services/auth/**
  Test On Administrator Service: any of: Services/administrator/**
  Test On Employee Service: any of: Services/employee/**
  Test On Country Service: any of: Services/country/**
  Build Customer Image: any of: Services/customer/**
  Build Team Image: any of: Services/team/**
  Build Match Image: any of: Services/match/**
  Build Competition Image: any of: Services/competition/**
  Build Stadium Image: any of: Services/stadium/**
  Build Technical Director Image: any of: Services/technical_director/**
  Build Player Image: any of: Services/player/**
  Build Post Image: any of: Services/post/**
  Build Auth Image: any of: Services/auth/**
  Build Administrator Image: any of: Services/administrator/**
  Build Employee Image: any of: Services/employee/**
  Build Country Image: any of: Services/country/**
  Build Frontend Test-Image: any of: Frontend/**
  Testing Frontend: any of: Frontend/**
  Build Frontend Image: any of: Frontend/**
